PORT=8080
FRONTEND_ORIGIN=http://localhost:3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/paywall?sslmode=disable
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME_MIN=30
